<mat-card><h2>FireAuth App</h2>
  <hr />
  <p *ngIf="auth">Hello, <strong>{{email.value}}</strong></p>

  <h2 class="input-box">Registration</h2>
  <form class="example-form" (ngSubmit)='login()'>
    <div class="input-box">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="email" placeholder="Your email">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
       <mat-error *ngIf="email.hasError('required')">
          Please enter your email!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-box">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="password" placeholder="Your password">
        <mat-error *ngIf="password.hasError('required')">
           Please enter your password!
         </mat-error>
      </mat-form-field>
    </div>
  
    <button class="button" mat-raised-button color="accent">Accent</button>
  
  </form>
</mat-card>
